<!-- app/views/spree/admin/promotions/rules/_buy_x_get_y_rule.html.erb -->
<div class="field">
  <%= f.label :x_product_id, Spree.t(:x_product_id) %>
  <%= f.text_field :x_product_id %>
</div>
<div class="field">
  <%= f.label :y_product_id, Spree.t(:y_product_id) %>
  <%= f.text_field :y_product_id %>
</div>
